<!DOCTYPE html>
<html>
    <head>
        <title>fast-live-reload IFrame Reloader</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/iframe-reload.js"></script>
    </head>
    <body>
        <div class="header-container">
            <div class="commercial"><a href="http://github.com/bmustiata/fast-live-reload" target="_blank">fast-live-reload</a></div>
            <span>Address: </span>
            <input type="test" name="address" id="webAddress"/>
            <button id="goButton" type="button">Go</button>
        </div>
        <div class="iframe-container" id="iframe-container">
        </div>

        <script type="text/javascript">
            initializeFastLiveReload('{{{TARGET_URL}}}');
        </script>
    </body>
</html>
