<!DOCTYPE html>
<html>
    <head>
        <title>fast-live-reload IFrame Reloader</title>
        <link rel="stylesheet" type="text/css" href="css/style.css">

        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/iframe-reload.js"></script>
    </head>
    <body>
        <div class="header-container">
            <div class="commercial">fast-live-reload</div>
            <span>Address: </span>
            <input type="test" name="address" id="webAddress" value="{{TARGET_URL}}"/>
            <button id="goButton">Go</button>
        </div>
        <div class="iframe-container" id="iframe-container">
        </div>

        <script type="text/javascript">
            (function($) {
                $(document).ready(function() {
                    var iframeSite = new IFrameSite( $('#iframe-container'), "{{TARGET_URL}}" );

                    $('#goButton').on("click", function(ev) {
                        iframeSite.navigate( $('#webAddress')[0].value );
                    });

                    new UpdateNotifier(function(data) {
                        iframeSite.reload();
                    }).requestUpdatesFromServer();
                });
            })(jQuery);
        </script>
    </body>
</html>
