body {
    margin: 0;
    padding : 0;
    font-family: 'Tahoma', 'Arial', sans-serif;
}

.header-container {
    position: absolute;
    padding-left: 4px;
    border-bottom: solid #888888 1px;
    background-color: #e2e2e2;
    height: 25px;
    left: 0;
    right: 0;
    top: 0;
}

.header-container input {
    width : 600px;
    border: #888888 solid 1px;
    height: 19px;
    padding: 1px;
    margin-top: 1px;
}

.header-container button {
    border: #888888 solid 1px;
    height: 23px;

}

.commercial,
.commercial a,
.commercial a:visited,
.commercial a:hover,
.commercial a:active {
    color: #551111;
    text-shadow: 1px 1px 4px #888888;
    text-decoration: none;
}

.commercial {
    position: absolute;
    right: 4px;
    top: 2px;
}

.iframe-container {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: 25px;
    padding: 0;
    margin: 0;
}


.iframe-container iframe {
    position : absolute;
    margin: 0;
    padding: 0;
    box-sizing: padding-box;
    left : 0;
    right : 0;
    top: 0;
    bottom: 0;
    border: 0;
}

